{#
/**
 * @file
 * Theme implementation to present a Digital Collection Document media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('digital-collection__document') }}>
  {{ title_suffix.contextual_links }}
  <a class="digital-collection__document__link" href="{{ content.dc_doc_link.0 }}" rel="bookmark">
    {{ title_prefix }}
      <span class="sr-only">{{ name }}</span>
    {{ title_suffix|without('contextual_links') }}
    <span class="digital-collection__document__cover-image">{{ content.dc_doc_cover_image.0 }}</span>

    {% if content.dc_doc_tag.0 %}
      <span class="digital-collection__document__tag usa-tag nal-tag--primary-darker">{{ content.dc_doc_tag.0 }}</span>
    {% endif %}
  </a>
</div>

